---
import Layout from '../layouts/Layout.astro'
import ArticleCard from '../components/ArticleCard.astro'
---

<Layout title="Article Preview">
	<main class="w-full h-full flex items-center justify-center p-5 md:p-0">
		<ArticleCard />
	</main>
</Layout>

