<section class="basis-3/5 py-12 px-6 lg:p-8">
  <section>
    <h1 class="font-global text-lg lg:text-xl font-bold text-very-dark-grayish-blue">
      Shift the overall look and feel by adding these wonderful touches to furniture in your home
    </h1>
    <p class="mt-4 text-sm lg:text-base leading-6 text-desaturated-dark-blue">
      Ever been in a room and felt like something was missing? Perhaps it felt slightly bare and uninviting. I've got some simple tips to help you make any room feel complete.
    </p>

    <section class="mt-8 lg:mt-4 flex items-center justify-between w-full">
      <div class="flex gap-4">
        <picture class="w-10 h-10 lg:w-12 lg:h-12">
          <img class="w-full h-full rounded-full" src="/assets/images/avatar-michelle.jpg" alt="user avatar">
        </picture>
        <section>
          <b class="font-global text-sm block">Michelle Appleton</b>
          <span class="text-sm text-desaturated-dark-blue">28 Jun 2020</span>
        </section>
      </div>
      <div>share</div>
    </section>

  </section>
</section>